{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

		<script type="text/javascript">
		// <![CDATA[				
				$(document).ready(function() {
				  $('#btn_loading').hide()
				});	
				
				function eval() {
					$('#btn_eval').hide()
					$('#btn_loading').show()
				};
		// ]]>
		</script>

	<h1 class="text-center">Which Car is This?</h1>
	<p class="text-center">Send a brazilian car picture, and we'll try to guess the model.</p>
	<hr />

	{% for message in get_flashed_messages() %}
	<div class="alert alert-danger">		
		{{ message | safe }}
	</div>
	{% endfor %}				

	<form class="content" action="{{ url_for('eval') }}" method="post" enctype = "multipart/form-data">
		<div class="row">
			<div class="col-10">
				<input type="file" name="file" class="form-control form-control-lg">
			</div>
			<div class="col">
				<button id='btn_eval' type="submit" class="btn btn-lg btn-primary" onclick='eval()'>Guess</button>
				<button id='btn_loading' type="submit" class="btn btn-lg btn-primary">
					<i class="fa fa-refresh fa-spin"></i> Loading...
				</button>	
			</div>
		</div>
	</form>
	<hr/>
	
{% endblock %}